@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&display=swap");

/* static styles */
* {
  margin: 0;
  padding: 0;
}
.body-style {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Inter;
  color: white;
}
header,
main {
  background-color: black;
}
.orange {
  color: #e6533c;
}
.white50 {
  color: rgba(255, 255, 255, 0.5);
}
.white60 {
  color: rgba(255, 255, 255, 0.6);
}
.grey65 {
  color: rgba(239, 237, 232, 0.65);
}
.btn-primary {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #e6533c;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
section {
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 100px;
}
.section-title {
  font-size: 48px;
  color: #ffffff;
}
.section-info {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
  margin-bottom: 58px;
  font-weight: 400;
}

/* navbar */
header {
  padding: 50px 100px 0 100px;
  background: linear-gradient(
    rgba(17, 17, 17, 95),
    rgba(17, 17, 17, 0.9),
    rgba(17, 17, 17, 0.95),
    rgba(17, 17, 17, 1),
    black
  );
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title h2 {
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 6px 0;
  border: 1px solid dimgrey;
  border-radius: 20px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 20px;
  color: #fff;
}
header ul li a:hover {
  background-color: #e6533c;
}
.nav-menu-bar {
  display: none;
  cursor: pointer;
}

/* banner */
.banner {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 60vw;
}
.banner-content h1 span {
  font-family: Italianno;
}
.banner-content p {
  line-height: 26px;
}
.d-app {
  background-color: transparent;
  border: 1px solid darkgrey;
  margin-left: 10px;
  margin-top: 5px;
}
.banner-image img {
  width: 100%;
}
.banner-image {
  position: relative;
}
.tutorial {
  position: absolute;
  bottom: 70px;
  left: -50px;
}
.workout {
  position: absolute;
  top: 150px;
  right: -20px;
}
.tutorial,
.workout {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 13px;
}
.tutorial h4 {
  font-size: 20px;
  font-weight: bold;
}
.tutorial i,
.workout h4 {
  font-size: 30px;
}

/* habits section */
.habits {
  text-align: center;
}
.habits-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-top: 58px;
}
.habits-image-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habits-image img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
.habits-image-content h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  color: #ffffff;
}
.habits-image-content p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}

/* run section */
.run {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  border-radius: 18px;
  padding: 30px;
  margin: 10px;
}
.run-content {
  max-width: 400px;
}
.run-content p {
  margin-top: 14px;
  margin-bottom: 34px;
}
.run-image {
  max-width: 350px;
}
.run-image img {
  width: 100%;
  border-radius: 18px;
}

/* training section */
.training {
  padding-left: 10px;
  padding-right: 10px;
}
.training-image {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.exercise-image1 {
  grid-column: 1 / span 3;
  background-color: rgba(6, 255, 210, 0.5);
}
.exercise-image2 {
  grid-column: 4 / span 6;
  background-color: rgba(255, 0, 0, 0.3);
}
.exercise-image3 {
  grid-column: 10 / span 3;
  background-color: rgba(0, 0, 0, 0.5);
}
.exercise-image4 {
  grid-column: 1 / span 5;
}
.exercise-image5 {
  grid-column: 6 / span 3;
  background-color: rgba(66, 255, 0, 0.3);
}
.exercise-image6 {
  grid-column: 9 / span 4;
  background-color: rgba(0, 71, 255, 0.3);
}
.training-image-box img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.training-image-box {
  height: 200px;
  position: relative;
}
.training-image-box p {
  position: absolute;
  width: 115px;
  font-size: 14px;
  text-align: center;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 10px;
}

/* calculator section */
.calculator {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.calculator2 {
  background-color: #222222;
  padding: 10px;
}
.calculator-content {
  padding: 50px 0;
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.calculator-content h3 {
  font-size: 28px;
}
.calculator-content p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
}
.calculator-chart table {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
  margin-top: 30px;
  text-align: left;
}
.calculator-chart th,
.calculator-chart td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
}
.calculator-chart th {
  font-size: 16px;
}
.calculator-chart td {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.input-table {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-table input,
.input-table select {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  color: rgba(239, 237, 232, 0.5);
}
.input-table input::placeholder,
.input-table select {
  padding-left: 10px;
}
.input-table select {
  cursor: pointer;
  color: rgba(239, 237, 232, 0.5);
}
.input-table select option {
  background-color: #222222;
  border: none;
}
.input-row-col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.input-row-col1 {
  display: grid;
  grid-template-columns: 1fr;
}
.bmi-calculate button {
  margin-top: 30px;
}

/* team section */
.team-content {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.team-members {
  max-width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.single-member img {
  height: 270px;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
  filter: brightness(70%);
}
.single-member {
  position: relative;
}
.member-info {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* additional section */
.additional {
  padding-bottom: 100px;
}
.additional-content {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.additional-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 20px;
}
.additional-single-item {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  transition: all 0.5s ease;
}
.additional-single-item i {
  font-size: 30px;
}
.additional-single-item:hover {
  background-color: rgb(4, 66, 70);
  transform: skew(-10deg);
  transition: all 0.5s ease;
  cursor: pointer;
}
.additional-item-info {
  border-left: 2px solid grey;
  padding-left: 20px;
}
.additional-item-info p {
  font-size: 14px;
  color: rgba(239, 237, 232, 0.5);
  margin-top: 10px;
}

/* footer section */
footer {
  background-color: #222222;
}
.all-footer {
  max-width: 1060px;
  margin: 0 auto;
  padding: 50px 10px;
}
.footer-content,
.footer-col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.footer-col1 {
  width: 80%;
}
.footer-col1 h2 {
  font-size: 70px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 20px;
}
.footer-col1 p {
  font-size: 14px;
  line-height: 24px;
}
.footer-col2 h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-col2 ul li {
  list-style: none;
}
.footer-col2 ul li a {
  text-decoration: none;
  color: rgba(239, 237, 232, 0.5);
  line-height: 26px;
}
footer hr {
  margin: 50px 0 25px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.all-footer > p {
  text-align: center;
}

/* responsive style */

/* responsive design for small device */
@media screen and (max-width: 576px) {
  .nav-menu {
    display: none;
  }
  .nav-menu-bar {
    display: block;
    font-size: 24px;
  }
  .btn-primary {
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 20px;
  }
  header {
    padding: 30px 20px 0;
  }
  .banner {
    grid-template-columns: 1fr;
  }
  .banner-content {
    max-width: 90vw;
  }
  .banner-image {
    max-width: 70vw;
    margin: 0 auto;
  }
  .banner-content h1 {
    font-size: 54px;
    margin-top: 30px;
  }
  .tutorial {
    bottom: 150px;
    left: 30px;
  }
  .workout {
    top: 70px;
    right: -20px;
  }
  section {
    padding-top: 80px;
  }
  .section-title {
    font-size: 40px;
  }
  .habits-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .habits-image-content h4 {
    margin-top: 20px;
  }
  .run {
    flex-direction: column;
    gap: 80px;
  }
  .exercise-image1,
  .exercise-image5 {
    grid-column: 1 / span 5;
  }
  .exercise-image2,
  .exercise-image6 {
    grid-column: 6 / span 7;
  }
  .exercise-image3 {
    grid-column: 1 / span 6;
  }
  .exercise-image4 {
    grid-column: 7 / span 6;
  }
  .training-image-box,
  .training-image-box img {
    height: 150px;
  }
  .calculator-content {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .team-members {
    grid-template-columns: repeat(1, 1fr);
  }
  .additional-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-content,
  .footer-col2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .footer-col1 {
    width: 90%;
  }
}

/* responsive design for medium device */
@media screen and (min-width: 576.02px) and (max-width: 992px) {
  header {
    padding: 50px 50px 0;
  }
  .banner {
    grid-template-columns: 1fr;
  }
  .banner-content {
    max-width: 80vw;
  }
  .banner-image {
    max-width: 60vw;
    margin: 0 auto;
  }
  .tutorial {
    bottom: 150px;
    left: 10px;
  }
  .workout {
    top: 80px;
    right: -20px;
  }
  .habits-content {
    grid-template-columns: repeat(2, 0.3fr);
    justify-content: center;
  }
  .habits-image-content h4 {
    margin-top: 20px;
  }
  .training-image {
    grid-template-columns: repeat(13, 1fr);
  }
  .exercise-image1 {
    grid-column: 1 / span 4;
  }
  .exercise-image2 {
    grid-column: 5 / span 5;
  }
  .exercise-image3 {
    grid-column: 10 / span 4;
  }
  .exercise-image4 {
    grid-column: 1 / span 5;
  }
  .exercise-image5 {
    grid-column: 6 / span 4;
  }
  .exercise-image6 {
    grid-column: 10 / span 4;
  }
  .training-image-box,
  .training-image-box img {
    height: 170px;
  }
  .calculator-content {
    padding: 50px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .additional-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-content {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .footer-col1 {
    width: 70%;
  }
}
